# Build directories
build/
bin/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# macOS
.DS_Store
._*

# Temporary files
*.tmp
*.tmp.pdf
*.log

# Third party binaries tarballs
third_party/pdfium/*.tgz
third_party/pdfium/*.zip

# IDEs
.vscode/
.idea/
*.user
dist/
build-macos/
